@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-main transition-colors;
}

a {
	@apply my-outline rounded;
}

button:disabled {
	@apply cursor-not-allowed opacity-50;
}

.bg-main {
	@apply bg-slate-200 dark:bg-slate-700;
}

.text-gray-custom {
	@apply text-gray-700 dark:text-gray-300;
}

.my-outline {
	@apply focus:outline-none focus-visible:ring-2 focus-visible:ring-primary-400;
}

.input-outline {
	@apply focus:outline-none focus-visible:border-primary-500 focus-visible:ring-2 focus-visible:ring-gray-100 focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-primary-400;
}

.table-cell {
	@apply py-1 px-2 sm:py-3 sm:px-6;
}

.input-field {
	@apply input-outline rounded-md border border-gray-700 px-2 py-1 text-gray-900 disabled:cursor-not-allowed disabled:opacity-50 dark:border-gray-300 sm:px-3;
}

.submit-button {
	@apply rounded-md bg-primary-500 py-2 px-4 text-center font-bold text-gray-200 focus:outline-none focus:ring-primary-500/50 focus-visible:ring-2 focus-visible:ring-primary-400 focus-visible:ring-offset-1 enabled:hover:bg-primary-600 enabled:active:bg-primary-700 disabled:cursor-not-allowed disabled:opacity-50;
}

.simple-button {
	@apply input-outline inline-flex cursor-pointer items-center rounded-md border border-gray-800 bg-gray-100 px-3 py-2 text-center text-gray-700 shadow-lg transition-colors enabled:hover:bg-gray-300 enabled:hover:text-gray-800 enabled:active:bg-gray-400 disabled:cursor-not-allowed disabled:opacity-50 dark:border-gray-200 dark:text-gray-800;
}

.button {
	@apply input-outline inline-flex cursor-pointer items-center justify-center rounded-md border border-transparent border-gray-200 bg-gray-800 py-2 px-3 text-center font-medium text-primary-500 shadow-lg transition-colors active:shadow-lg enabled:hover:bg-gray-700 enabled:hover:text-primary-600 enabled:active:bg-gray-600 disabled:cursor-not-allowed disabled:opacity-50 dark:bg-gray-100 dark:enabled:hover:bg-gray-300 dark:enabled:active:bg-gray-400;
}

.checkbox {
	@apply my-outline rounded text-primary-400 hover:cursor-pointer focus:ring-primary-400;
}

.dropdown {
	@apply input-outline rounded-md border border-gray-700 py-1 text-gray-900 transition-opacity disabled:cursor-not-allowed disabled:opacity-50 dark:border-gray-300;
}

.tooltip {
	@apply pointer-events-none absolute bottom-1/2 z-50 h-fit w-48 translate-y-1/2 bg-primary-400 p-1 text-center text-sm text-white opacity-0 transition-opacity duration-300 after:absolute after:top-1/2 after:-mt-2.5 after:border-8 after:border-transparent after:content-["_"] group-hover:opacity-90;
}

.loader {
	background: radial-gradient(farthest-side, #e5e7eb 100%, #0000) top/4px 4px no-repeat,
		conic-gradient(#0000 25%, #e5e7eb);
	-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
}

.gallery-item {
	@apply my-outline cursor-pointer rounded transition disabled:cursor-not-allowed enabled:hocus:scale-105 enabled:hocus:shadow-xl;
}

.navbar-icon-bar {
	@apply absolute left-1 origin-center rounded-sm bg-gray-100 transition-all duration-300 ease-in-out;
}

.no-highlight {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	border-radius: 50vh;
	background: theme(colors.slate.700); /* slate-700 */
}
::-webkit-scrollbar-thumb {
	background: theme(colors.slate.400); /* slate-400 */
	border-radius: 100vh;
	border: 2px solid theme(colors.slate.600); /* slate-600 */
}
::-webkit-scrollbar-thumb:hover {
	background: theme(colors.slate.500); /* slate-500 */
}

.Toastify__toast-container--top-right {
	position: fixed !important;
	z-index: 9999;
}

.half-border {
	position: relative;
}
.half-border:after {
	content: "";
	background: #d1d5db;
	position: absolute;
	bottom: 0;
	left: 20%;
	height: 1px;
	width: 60%;
	opacity: 80%;
}

.Toastify__progress-bar {
	transition: width 0.3s linear;
}

.ag-cell {
	@apply text-gray-custom;
}
.ag-custom-quartz {
	--ag-font-size: 13px;
	--ag-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
		"Helvetica Neue", sans-serif;

	--ag-background-color: #f1f5f9; /*slate-200*/
	--ag-foreground-color: #1e293b; /*slate-800*/
	--ag-border-color: #e2e2e2;

	--ag-header-background-color: #e2e8f0; /*slate-200*/
	--ag-header-foreground-color: #000;

	--ag-row-hover-color: #cbd5e1; /*slate-300*/

	--ag-cell-horizontal-padding: 12px;
	--ag-cell-vertical-padding: 6px;

	--ag-row-height: 40px;
	--ag-header-height: 50px;

	--ag-active-color: theme("colors.inherit") !important;

	/* --ag-selected-row-background-color: rgba(0, 145, 234, 0.1); */
}
.dark .ag-custom-quartz {
	--ag-background-color: #1e293b; /*slate-800*/
	--ag-foreground-color: #e2e8f0; /*slate-200*/
	--ag-border-color: #374151;

	--ag-header-background-color: #334155;
	--ag-header-foreground-color: #cbd5e1;

	--ag-row-hover-color: #475569; /*slate-600*/

	/* --ag-selected-row-background-color: rgba(59, 130, 246, 0.5); */
}

.ag-custom-quartz .ag-root-wrapper {
	border: 1px solid var(--ag-border-color);
	border-radius: 4px;
}

.ag-custom-quartz .ag-header {
	border-bottom: 1px solid var(--ag-border-color);
	font-weight: 600;
}

.ag-custom-quartz .ag-header-cell {
	padding-left: var(--ag-cell-horizontal-padding);
	padding-right: var(--ag-cell-horizontal-padding);
}
.ag-custom-quartz .ag-header-cell-label {
	line-height: var(--ag-header-height);
	align-items: center;
	justify-content: center;
}

.ag-custom-quartz .ag-cell {
	border-right: 1px solid var(--ag-border-color);
	padding-left: var(--ag-cell-horizontal-padding);
	padding-right: var(--ag-cell-horizontal-padding);
	line-height: calc(var(--ag-row-height) - 2 * var(--ag-cell-vertical-padding));
}

.ag-custom-quartz .ag-row {
	border-bottom: 1px solid var(--ag-border-color);
	text-align: center;
	align-items: center;
}
.ag-row .ag-cell {
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center;
}

.ag-custom-quartz .ag-row:hover {
	background-color: var(--ag-row-hover-color);
}

.ag-custom-quartz .ag-paging-panel {
	border-top: 1px solid var(--ag-border-color);
	padding: 10px;
}

.ag-custom-quartz .ag-cell:focus {
	outline: none !important;
	border: none !important;
}
.ag-center-cols-container {
	width: 100% !important;
}
.ag-cell-label-container {
	flex-direction: column !important;
}
